:root{
    --buton-color-1:#355592;
    --background-color-1:#D6EAF8;

}
.blue-box{
    background-color: #355592;
    font-weight: 700;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.section-title h1{
    font-weight: 900;
    font-size: 60px;
}
.btn-custom{
    background-color: #355592;
    color: white;
    font-weight: 600;
    margin-right: 15px;
}
.btn-custom2{
    background-color: transparent;
    border: 1px solid white;
    font-weight: 600;
    color: white;
    box-sizing: border-box;/*borderı butonun içinde tutmsı için */
}
.small-box{
    max-width: 70%;
    margin: auto;
    text-align: center;
}
.small-box h1{
    color: var(--buton-color-1);
    font-weight: 800;
    font-size: 25px;
    margin-bottom: 20px;
}
.small-box span{
    display: inline-block;
    border-radius: 6px;
    width: 70px;
    height: 1px;
    margin-bottom:20px ;
    background-color: orange;
}

.logo-img{
    margin: 0;
    padding: 0;
    height: 60px;
}
.line{
    background-color: #355592;
    font-weight: 700;
    color: white;
    padding: 5px;
    border-radius: 5px;
}