/*! bu sayfa sadece navbar kısmının csslerini içerir */

#header{
    background-color:transparent;
    transition: background-color 0.3s ease;
    font-size: 14px;
    z-index: 1000;
    top: 0;
    width: 100%;
    position: fixed;/*sayfanın en üstünde kalması için*/

}
#header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar ul li{
    margin: 10px;
}
.navbar ul li a{
    font-weight: 900;
    color: white;
}
.navbar button{
    font-weight: 1000;
    color: white;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}
.navbar-nav{
    --bs-nav-link-padding-y: 0rem;

}
.hero-photo{
    position: relative;
    display: block;
}
.navbar-toggler {
    border-color: white; /* Çerçeveyi beyaz yap */
}

.navbar-toggler-icon {
    filter: invert(1); /* Siyahı beyaza çevirir */
}